
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    @model IEnumerable<Proyecto3_Diplomado_Web_MVC_UASD.Models.Persona>

    <h2>Lista de Personas</h2>
    <div>
        @{ 
            var grid = new WebGrid(Model, defaultSort: "Cedula");
        }

        @grid.GetHtml(columns:grid.Columns(
            grid.Column("Cedula", header: "Cedula"),
            grid.Column("Nombre", header: "Nombre"),
            grid.Column("Sexo", header: "Sexo"),
            grid.Column("Direccion", header: "Dirrecion")
       ))
    </div>
</body>
</html>
